p {
    font-size: 18px;
    color: rgb(26, 90, 116);
}
table{
    width:80%;
    margin:50px;
    background-color: antiquewhite;
    font-size:18px;
    text-align: center;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0a4275;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

section {
    padding: 20px;
}